body {
  margin: 0;
  padding: 20px 30px;
  font-family: "Ojuju", sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration:  none;
  color: black;
}

*{
  box-sizing: border-box;
}